OPENAI_API_KEY=
APP_ENV=dev
LOCAL_PORT=8678

SSH_HOSTNAME=
SSH_PORT=
SSH_USERNAME=
SSH_PASSWORD=
SSH_USERNAME_ROOT=
SSH_PASSWORD_ROOT=

PUSH_TOKEN=
PUSH_USER=

CONV_ENDPOINT=http://localhost:8000/v1/conversation/fetch_by_document_id_albert
CONVS_ENDPOINT=http://localhost:8000/v1/conversation/fetch_multiple_document_ids_albert

db_username=
db_password=
db_host=
db_port=
db_database=
db_sslmode=require
