[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2020.12.5"
chardet = "==4.0.0"
click = "==7.1.2"
elasticsearch = "==7.13.0"
fastapi = "==0.75.0"
filelock = "==3.0.12"
greenlet = "==1.1.0"
gunicorn = "==20.1.0"
h11 = "==0.12.0"
httptools = "==0.1.1"
idna = "==2.10"
importlib-metadata = "==3.4.0"
pydantic = {extras = ["email"], version = "*"}
pyparsing = "==2.4.7"
python-json-logger = "==2.0.1"
python-multipart = "==0.0.5"
regex = "==2021.4.4"
requests = "==2.25.1"
six = "==1.16.0"
typing-extensions = "==3.10.0.0"
urllib3 = "==1.26.9"
uvicorn = "==0.13.4"
uvloop = "==0.15.2"
wincertstore = "==0.2"
zipp = "==3.4.0"
fastapi-cache2 = {version = "==0.1.9", extras = ["redis"]}
aioredis = "==2.0.1"
python-jose = {version = "==3.3.0", extras = ["cryptography"]}
passlib = {version = "==1.7.4", extras = ["bcrypt"]}
sqlalchemy = "==1.4.40"
sqlalchemy-migrate = "==0.13.0"
psycopg2-binary = "==2.9.3"
pycryptodome = "==3.15.0"
celery = "==5.0.5"
redis = "==4.4.0rc1"
coverage = "==6.4.3"
web3 = "==5.30.0"
python-dotenv = "==0.20.0"
aiohttp = "==3.8.1"
aiosignal = "==1.2.0"
amqp = "==5.1.1"
anyio = "==3.6.1"
async-timeout = "==4.0.2"
attrs = "==22.1.0"
base58 = "==2.1.1"
bcrypt = "==3.2.2"
billiard = "==3.6.4.0"
bitarray = "==2.6.0"
cffi = "==1.15.1"
charset-normalizer = "==2.1.0"
click-didyoumean = "==0.3.0"
click-plugins = "==1.1.1"
click-repl = "==0.2.0"
cryptography = "==37.0.4"
cytoolz = "==0.12.0"
decorator = "==5.1.1"
deprecated = "==1.2.13"
ecdsa = "==0.18.0"
eth-abi = "==2.2.0"
eth-account = "==0.5.9"
eth-hash = {version = "==0.5.0", extras = ["pycryptodome"]}
eth-keyfile = "==0.5.1"
eth-keys = "==0.3.4"
eth-rlp = "==0.2.1"
eth-typing = "==2.3.0"
eth-utils = "==1.9.5"
frozenlist = "==1.3.1"
hexbytes = "==0.2.3"
hiredis = "==2.0.0"
importlib-resources = "==5.9.0"
ipfshttpclient = "==0.8.0a2"
jsonschema = "==4.9.1"
kombu = "==5.2.4"
lru-dict = "==1.1.8"
multiaddr = "==0.0.9"
multidict = "==6.0.2"
netaddr = "==0.8.0"
parsimonious = "==0.8.1"
pbr = "==5.10.0"
pendulum = "==2.1.2"
pkgutil-resolve-name = "==1.3.10"
prompt-toolkit = "==3.0.30"
protobuf = "==3.20.1"
pyasn1 = "==0.4.8"
pycparser = "==2.21"
pyrsistent = "==0.18.1"
python-dateutil = "==2.8.2"
pytz = "==2022.2"
pytzdata = "==2020.1"
rlp = "==2.0.1"
rsa = "==4.9"
sniffio = "==1.2.0"
sqlparse = "==0.4.2"
starlette = "==0.17.1"
tempita = "==0.5.2"
toolz = "==0.12.0"
varint = "==1.0.2"
vine = "==5.0.0"
wcwidth = "==0.2.5"
websockets = "==9.1"
wrapt = "==1.14.1"
yarl = "==1.8.1"
elastic-apm = "==6.12.0"
fastapi-redis-cache = "==0.2.5"
fastapi-cprofile = "*"
fastapi-utils = "*"
codeguru-profiler-agent = "*"
boto3 = "==1.18.51"
pyrebase4 = "*"
firebase-admin = "*"
openai = "*"

[dev-packages]
black = "*"
bandit = {extras = ["toml"], version = "*"}
safety = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
